<h1>Get to know Shyam Mahant</h1>
<html>
<head>
<style>
body {
        color: red;
}
h1 {
        color: #FF00FF;
}
p {
        color: rgb(0,0,255)
}
</style>
</head>
<body>
<p>I would love to tell you about my store!</p>
</body>
</html>
