<h1>Shyam Mahant Proud Owner</h1>
<html>
<head>
<style>
body {
        color: red;
}
h1 {
        color: #EE82EE;
}
p {
        color: rgb(0,0,255)
}
</style>
</head>
<body>
<p>I would love to answer any questions you have!</p>
</body>
</html>
